/* Style de l'icône */
.nav-link i {
    color: black; /* Couleur noire */
    font-size: 24px; /* Taille de l'icône */
    margin-right: 5px; /* Marge à droite de l'icône (optionnel) */
  }
  
  #notification-icon {
    position: relative;
}

.notification-container {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 200px; /* ajustez la largeur selon vos besoins */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.notification-content {
    padding: 10px;
}

.notification-item {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}

.notification-item:last-child {
    border-bottom: none;
}
