<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
    <h2>Liste des Entreprises</h2>
  
    <!-- Boutons d'ajout et de recherche -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <button (click)="showAddForm()" class="btn btn-sm btn-success me-2">Ajouter entreprise</button>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Rechercher une entreprise" [(ngModel)]="searchQuery">
          <button class="btn btn-outline-secondary" type="button" (click)="searchEnterprises()">
            <i class="icon-magnifier"></i>
          </button>
        </div>
      </div>
  
    <!-- Tableau des entreprises -->
    <div class="table-responsive border rounded p-3 bg-light">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Responsable</th>
            <th>Téléphone</th>
            <th>Domaine</th>
            <th>Note</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enterprise of enterprises">
            <td>{{ enterprise.Id_Entr_Cons }}</td>
            <td>{{ enterprise.Nom_Entr_Cons }}</td>
            <td>{{ enterprise.Adr_Entr_Cons }}</td>
            <td>{{ enterprise.Resp_Entr_Cons }}</td>
            <td>{{ enterprise.Tel_Entr_Cons }}</td>
            <td>{{ enterprise.Domaine_Entr_Cons }}</td>
            <td>{{ enterprise.Notes_Entr_Cons }}</td>
            <td>
                <button (click)="startEditEnterprise(enterprise)" class="btn btn-sm btn-link btn-edit">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="deleteEnterprise(enterprise.Id_Entr_Cons)" class="btn btn-sm btn-link btn-delete">
                    <i class="fa fa-trash"></i>
                  </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
   
  <!-- Formulaire flottant pour ajouter une entreprise -->
<div class="floating-form" *ngIf="isAddFormVisible">
    <h3>Ajouter une entreprise</h3>
    <form (ngSubmit)="addEnterprise()" #addForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="newEnterprise.Nom_Entr_Cons" required>
      </div>
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="newEnterprise.Adr_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="responsable">Responsable</label>
        <input type="text" class="form-control" id="responsable" name="responsable" [(ngModel)]="newEnterprise.Resp_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="newEnterprise.Tel_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="domaine">Domaine</label>
        <input type="text" class="form-control" id="domaine" name="domaine" [(ngModel)]="newEnterprise.Domaine_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" name="notes" [(ngModel)]="newEnterprise.Notes_Entr_Cons"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
      <button type="button" class="btn btn-secondary" (click)="cancelAdd()">Annuler</button>
    </form>
  </div>
  
  
    <!-- Formulaire flottant pour modifier une entreprise -->
<div class="floating-form" *ngIf="isEditFormVisible">
    <h3>Modifier une entreprise</h3>
    <form (ngSubmit)="updateEnterprise()" #editForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="selectedEnterprise.Nom_Entr_Cons" required>
      </div>
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="selectedEnterprise.Adr_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="responsable">Responsable</label>
        <input type="text" class="form-control" id="responsable" name="responsable" [(ngModel)]="selectedEnterprise.Resp_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="selectedEnterprise.Tel_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="domaine">Domaine</label>
        <input type="text" class="form-control" id="domaine" name="domaine" [(ngModel)]="selectedEnterprise.Domaine_Entr_Cons">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" name="notes" [(ngModel)]="selectedEnterprise.Notes_Entr_Cons"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Annuler</button>
    </form>
  </div>
  
  </div>
  