<div class="container">
    <!-- Form Name -->
    <legend class="text-center"><h2><b>Modifier un membre d'équipe</b></h2></legend><br>
    <form class="border p-4" action=" " method="post"  id="contact_form">
        <fieldset>
         
        
        
    <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <!-- Text input-->
              <label class="col-md-4 control-label"><b>Nom :</b></label>
              <input id="nom"  name="nom"  class="form-control"  type="text">
    
              <label class="col-md-4 control-label"><b>Prenom :</b></label>
              <input  name="prenom"  class="form-control"  type="text">
    
              <label class="col-md-4 control-label"><b>Adresse :</b></label>
              <input  name="adresse"  class="form-control"  type="text">
    
              <label class="col-md-4 control-label" ><b>Telephone :</b></label>
              <input name="telephone"  class="form-control"  type="text">
    
              <label class="col-md-4 control-label"><b>E-Mail :</b></label>
              <input name="email"  class="form-control"  type="text">
            </div>
    
          </div>
          
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-md-4 control-label"><b>Poste :</b></label>
              <select name="poste" class="form-control selectpicker">
                <option value="">sélectionné votre poste</option>
                <option>Architecte</option>
                <option>Ingénieur Structure</option>
                <option >Ingénieur Electricité</option>
                <option >Ingénieur fluide</option>
                <option >Bureau d'étude</option>
                <option >Technicien</option>
                <option >Directeur</option>
                <option >Chef Service</option> 
              </select>
    
              <label class="col-md-4 control-label"><b>Projet :</b></label>
              <select name="poste" class="form-control selectpicker">
                <option value="">sélectionné votre projet</option>
                <option>nom projet 1</option>
                <option>nom projet 2</option>
                <option>nom projet 3</option>
                <option>nom projet 4</option> 
              </select>
            </div>
    
          </div>
    
          <div class="col-md-4">
              <!-- Button -->
           <div class="form-group">
                <button type="submit" class="btn btn-warning" ><b>Modifier</b></button>
            </div>
          </div>
        
    </div>
        </fieldset>
        </form>
        </div>
            
