<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
  <h2>Liste des Utilisateurs</h2>

  <!-- Afficher le formulaire d'ajout -->
  <button class="btn btn-primary" (click)="afficherFormulaireAjout = true">Ajouter un Utilisateur</button>

  <!-- Formulaire d'ajout -->
  <div *ngIf="afficherFormulaireAjout" class="floating-form">
    <h3>Ajouter un Utilisateur <span class="close-icon" (click)="annulerAjout()">✖</span></h3>
    <form (ngSubmit)="ajouterUtilisateur()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="nouveauUtilisateur.username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="nouveauUtilisateur.password" name="password" required>
      </div>
      <div class="form-group">
        <label for="role">Rôle:</label>
        <select class="form-control" id="role" name="role" [(ngModel)]="nouveauUtilisateur.role" required>
          <option value="admin">Admin</option>
          <option value="gestionnaire-projet">Gestionnaire de projet</option>
          <option value="responsable">Responsable</option>
          <option value="member_equipe">Membre d'équipe</option>
          <option value="school">School</option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control-file" id="image" (change)="onFileChange($event)" required>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter Utilisateur</button>
      <button type="button" class="btn btn-secondary" (click)="annulerAjout()">Annuler</button>
    </form>
  </div>

  <!-- Tableau des utilisateurs par rôle -->
  <div *ngFor="let role of roles" class="mt-4">
    <h3>{{ role }}</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom d'utilisateur</th>
          <th scope="col">Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisateur of utilisateurs" [ngClass]="{'table-active': utilisateur === utilisateurSelectionne}">
          <ng-container *ngIf="utilisateur.role === role">
            <td>{{ utilisateur.id_log }}</td>
            <td>{{ utilisateur.username }}</td>
            <td>
              <img [src]="utilisateur.imageURL" alt="User Image" style="max-width: 100px; max-height: 100px;">
            </td>
            <td>
              <button class="btn btn-info" (click)="afficherFormulaireModification = true; utilisateurSelectionne = utilisateur">
                <i class="fa fa-edit"></i> <!-- Utilisation de l'icône de modification -->
              </button>
              <button class="btn btn-danger" (click)="supprimerUtilisateur(utilisateur.id_log)">
                <i class="fa fa-trash"></i> <!-- Utilisation de l'icône de suppression -->
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
  <!-- Formulaire de modification -->
  <div *ngIf="afficherFormulaireModification && utilisateurSelectionne" class="floating-form">
    <h3>Modifier l'Utilisateur 
      <span class="close-icon" (click)="annulerModification()">✖</span>
    </h3>
    <form (ngSubmit)="modifierUtilisateur()">
      <div class="form-group">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="utilisateurSelectionne.username" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="utilisateurSelectionne.password" required>
      </div>
      <div class="form-group">
        <label for="role">Rôle:</label>
        <select class="form-control" id="role" name="role" [(ngModel)]="utilisateurSelectionne.role" required>
          <option value="admin">Admin</option>
          <option value="gestionnaire-projet">Gestionnaire de projet</option>
          <option value="responsable">Responsable</option>
          <option value="member_equipe">Membre d'équipe</option>
          <option value="school">School</option>
        </select>
      </div>
      <div class="form-group">
        <label for="currentImage">Image actuelle:</label>
        <img *ngIf="utilisateurSelectionne.imageURL" [src]="utilisateurSelectionne.imageURL" alt="Current Image" class="current-image" style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="form-group">
        <label for="newImage">Nouvelle image:</label>
        <input type="file" class="form-control-file" id="newImage" (change)="onNewFileChange($event)">
      </div>
      <button type="submit" class="btn btn-primary">Modifier</button>
      <button type="button" class="btn btn-secondary" (click)="annulerModification()">Annuler</button>
    </form>
  </div>
  
</div>
