.floating-form {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate( -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%; /* Réduire légèrement la largeur */
    max-height: 80%; /* Limiter la hauteur */
    overflow-y: auto; /* Ajouter un défilement vertical si nécessaire */
    z-index: 1000; /* Assurez-vous que le formulaire flottant est au-dessus des autres éléments */
}



/* Styles restants inchangés */
.floating-form label {
    display: block;
    margin-bottom: 5px;
}

.floating-form input[type="text"],
.floating-form input[type="date"],
.floating-form input[type="number"],
.floating-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.floating-form textarea {
    height: 100px;
}

.floating-form button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.floating-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.table thead th {
    background-color: #343a40;
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }  
  