
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="text-dark">Liste des Projets</h2>
     
        <div class="d-flex justify-content-between align-items-center mb-4">
          <button (click)="showAddForm()" class="btn btn-sm btn-success me-2">Ajouter projet</button>
          <button (click)="toggleInProgressProjects()" class="btn btn-sm btn-info">Projets en cours</button>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
          
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher un projet" [(ngModel)]="searchText">
            <button class="btn btn-outline-secondary" type="button" (click)="searchProjects()">
              <i class="icon-magnifier"></i>
            </button>
            <i class="icon-filter" *ngIf="filterActive" title="Filtrage actif"></i>
          </div>

        <div>
          <h3 class="icon-filter" *ngIf="filterActive" title="Filtrage actif"></h3>
        </div>
        </div>
        <div class="table-responsive border rounded p-3 bg-light">
          <div *ngIf="projects.length > 0; else noProjects">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th (click)="sortBy('Id_Proj')">ID</th>
                  <th (click)="sortBy('Nom_Proj')">Nom du Projet</th>
                  <th (click)="sortBy('Desc_Proj')">Description</th>
                  <th (click)="sortBy('Objectifs')">Objectifs</th>
                  <th (click)="sortBy('Date_Deb_Proj')">Date de Début</th>
                  <th (click)="sortBy('Date_Fin_Proj')">Date de Fin</th>
                  <th (click)="sortBy('Budget_Proj')">Budget</th>
                  <th (click)="sortBy('Statut_Proj')">Statut</th>
                  <th (click)="sortBy('Id_Infra_Str')">Id Infrastructure</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of filteredProjects">
                  <td>{{ project.Id_Proj }}</td>
                  <td>{{ project.Nom_Proj }}</td>
                  <td>{{ project.Desc_Proj }}</td>
                  <td>{{ project.Objectifs }}</td>
                  <td>{{ project.Date_Deb_Proj | date:'dd/MM/yyyy' }}</td>
                  <td>{{ project.Date_Fin_Proj | date:'dd/MM/yyyy' }}</td>
                  <td>{{ project.Budget_Proj }}</td>
                  <td>{{ project.Statut_Proj }}</td>
                  <td>{{ project.Id_Infra_Str }}</td>
                  <td>
                    <button (click)="editProject(project)" class="btn btn-sm btn-link">
                      <i class="fa fa-edit icon-edit"></i>
                    </button>
                    <button (click)="deleteProject(project)" class="btn btn-sm btn-link">
                      <i class="fa fa-trash icon-delete"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
          <ng-template #noProjects>
            <p class="text-center mt-4">Aucun projet disponible pour le moment.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>



   

 


    
 
   

  <!-- Formulaire de modification -->
  <div class="floating-form container mt-4 p-4 border rounded bg-light" *ngIf="showEditForm">
    <form (ngSubmit)="submitEdit()">
        <div class="form-group mb-3">
            <label for="idProj">ID Projet</label>
            <input type="text" class="form-control" id="idProj" name="idProj" [(ngModel)]="selectedProject.Id_Proj" disabled>
        </div>
        
        <div class="form-group mb-3">
            <label for="nomProj">Nom du Projet</label>
            <input type="text" class="form-control" id="nomProj" name="nomProj" [(ngModel)]="selectedProject.Nom_Proj">
        </div>

        <div class="form-group mb-3">
            <label for="descProj">Description</label>
            <textarea class="form-control" id="descProj" name="descProj" [(ngModel)]="selectedProject.Desc_Proj"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="objectifs">Objectifs</label>
            <textarea class="form-control" id="objectifs" name="objectifs" [(ngModel)]="selectedProject.Objectifs"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="dateDebProj">Date de Début</label>
            <input type="date" class="form-control" id="dateDebProj" name="dateDebProj" [(ngModel)]="selectedProject.Date_Deb_Proj">
        </div>

        <div class="form-group mb-3">
            <label for="dateFinProj">Date de Fin</label>
            <input type="date" class="form-control" id="dateFinProj" name="dateFinProj" [(ngModel)]="selectedProject.Date_Fin_Proj">
        </div>

        <div class="form-group mb-3">
            <label for="budgetProj">Budget</label>
            <input type="number" class="form-control" id="budgetProj" name="budgetProj" [(ngModel)]="selectedProject.Budget_Proj">
        </div>

        <div class="form-group mb-3">
            <label for="statutProj">Statut</label>
            <input type="text" class="form-control" id="statutProj" name="statutProj" [(ngModel)]="selectedProject.Statut_Proj">
        </div>

        <div class="form-group mb-3">
            <label for="infraStr">Infrastructure</label>
            <input type="text" class="form-control" id="infraStr" name="infraStr" [(ngModel)]="selectedProject.Id_Infra_Str">
        </div>

        <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Annuler</button>
        </div>
    </form>
</div>


  




   <!-- Formulaire flottant pour ajouter un nouveau projet -->
   <div class="floating-form container mt-4 p-4 border rounded bg-light" *ngIf="showAddProjectForm">
    <form (ngSubmit)="addProject()">
        <!-- Champs pour les données du projet -->
        <div class="form-group mb-3">
            <label for="idProj">ID du Projet</label>
            <input type="text" class="form-control" id="idProj" name="idProj" [(ngModel)]="newProject.Id_Proj" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="nomProj">Nom du Projet</label>
            <input type="text" class="form-control" id="nomProj" name="nomProj" [(ngModel)]="newProject.Nom_Proj" required>
        </div>

        <div class="form-group mb-3">
            <label for="descProj">Description</label>
            <textarea class="form-control" id="descProj" name="descProj" [(ngModel)]="newProject.Desc_Proj"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="objectifs">Objectifs</label>
            <textarea class="form-control" id="objectifs" name="objectifs" [(ngModel)]="newProject.Objectifs"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="dateDebProj">Date de Début</label>
            <input type="date" class="form-control" id="dateDebProj" name="dateDebProj" [(ngModel)]="newProject.Date_Deb_Proj" required>
        </div>

        <div class="form-group mb-3">
            <label for="dateFinProj">Date de Fin</label>
            <input type="date" class="form-control" id="dateFinProj" name="dateFinProj" [(ngModel)]="newProject.Date_Fin_Proj" required>
        </div>

        <div class="form-group mb-3">
            <label for="budgetProj">Budget</label>
            <input type="number" class="form-control" id="budgetProj" name="budgetProj" [(ngModel)]="newProject.Budget_Proj">
        </div>

        <div class="form-group mb-3">
            <label for="statutProj">Statut</label>
            <select class="form-control" id="statutProj" name="statutProj" [(ngModel)]="newProject.Statut_Proj" required>
                <option value="En attente">En attente</option>
                <option value="En cours">En cours</option>
                <option value="Validé">Validé</option>
                <option value="Annulé">Annulé</option>
                <option value="Suspendu">Suspendu</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="infraStr">Infrastructure</label>
            <input type="text" class="form-control" id="infraStr" name="infraStr" [(ngModel)]="newProject.Id_Infra_Str">
        </div>

        <div class="form-group d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="button" (click)="cancelAdd()" class="btn btn-warning">Annuler</button>
        </div>
    </form>
</div>

