.floating-form {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate( -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%; /* Réduire légèrement la largeur */
    max-height: 80%; /* Limiter la hauteur */
    overflow-y: auto; /* Ajouter un défilement vertical si nécessaire */
    z-index: 1000; /* Assurez-vous que le formulaire flottant est au-dessus des autres éléments */
}



/* Styles restants inchangés */
.floating-form label {
    display: block;
    margin-bottom: 5px;
}

.floating-form input[type="text"],
.floating-form input[type="date"],
.floating-form input[type="number"],
.floating-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.floating-form textarea {
    height: 100px;
}

.floating-form button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.floating-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.icon-edit {
    font-size: 24px; /* Ajustez la taille selon vos préférences */
    color: rgb(219, 199, 86); /* Couleur pour l'icône de modification */
  }
  
  .icon-delete {
    font-size: 24px; /* Ajustez la taille selon vos préférences */
    color: red; /* Couleur pour l'icône de suppression */
  }


  .table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table td,
  .table th {
    white-space: pre-line;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ddd; /* Couleur et épaisseur des bordures */
    padding: 5px; /* Espacement du contenu à l'intérieur des cellules */
    
  }
  
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
  }
  
  .btn-link {
    color: #007bff;
  }
  
  .btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .btn-link:focus, .btn-link:active {
    color: #0056b3;
  }
  

  
  .icon-edit, .icon-delete {
    font-size: 16px;
  }
  
  


  .filtered-column {
    background-color: #f8d7da; /* Couleur de fond pour les colonnes filtrées */
    color: #721c24; /* Couleur de texte pour les colonnes filtrées */
  }
  
    